# Folders
ignore/
util/__pycache__/
py/data/
py/__pycache__/
_old_data/
pylib/.ipnb_checkpoints/
pylib/__pycache__/
bokeh/.ipnb_checkpoints/
bokeh/__pycache__/


# Python files
test3.py

# Object file
*.o

# Ada Library Information
*.ali

# HTML
gmt.css
pghold.html
panda_test.html
etc.html
ls-etc.html
dropdown.html