# Folders
ignore/
util/__pycache__/
py/data/
py/__pycache__/
_old_data/

# Python files
test3.py

# Object file
*.o

# Ada Library Information
*.ali

# HTML
gmt.css
pghold.html
panda_test.html
etc.html
ls-etc.html
dropdown.html